{% extends "base.html" %}
{% block content %}
{% include 'sidebar.html' %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<br><br>
<h1>About Us</h1>
<hr class="featurette-divider">
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
</div>

{% endblock %}