{% extends "base.html" %}
{% block content %}
{% include 'sidebar.html' %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<br><br>
<h1>About Us</h1>
<hr class="featurette-divider">
<p>Time 4 Cultural Innovation is a product of social intervention that aims with its clean design to become the tool for anyone, regardless of technological and entrepreneurial knowledge, who feels the need to improve the community with a project. It’s about self-management, organization and team work.</p>

<p>Have a Dream. Make it a reality. Be part of other people’s Dreams. </p> 

<p>In T4CI it’s not about what people lack, but what One has to offer.</p>
<p>Find skills or wisdom in the community to improve it in an open space of participation with the help of a mentor.</p>
<p>With <b>Your</b> help, change inside Communities will be easier and more far-reaching.</p>
<br>
		<a style="float:right; margin-right: 10%" class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Join Us</a>
	

</div>

{% endblock %}