{% extends "base.html" %}
{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}

<script type="text/javascript">
 function changeActiveSideBar(){
	var children=document.getElementById("sidebarList").children;
	for(var i=0; i<children.length;i++){
		if(children[i].className=="active")
			children[i].className=children[i].className.replace( /(?:^|\s)active(?!\S)/g , '' );
		if(children[i].id=='mydreams')
			children[i].className="active";
	}
}
function addRoleImage(){
	var x,y;
	var leaders = document.getElementsByClassName('TL');
    var members = document.getElementsByClassName('TM');
    for(var i=0;i<leaders.length;i++){
    	x = document.createElement("IMG");
    	x.setAttribute("src", '{% static "img/leader.png" %}');
   		x.setAttribute("alt", "Team Leader");
    	leaders[i].appendChild(x);
    }
    for(var i=0;i<members.length;i++){
    	y = document.createElement("IMG");
   		y.setAttribute("src", '{% static "img/member.png" %}');
    	y.setAttribute("alt", "Team Member");
    	members[i].appendChild(y);
    }
}
function loadingFunctions(){
	changeActiveSideBar();
	addRoleImage();
}
window.onload = loadingFunctions;
</script>	
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br>
<div class='row'>
<div class='col-sm-6 col-sm-offset-2'>
<h1>{{ request.user.get_username }}'s Dreams</h1>
<hr class="featurette-divider">
<table class="table">
	<thead style="font-size:18px">
		<tr>
			<th>Dream</th>
			<th>Description</th>
			<th>Role</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody style="font-size:16px">
		{% for dream in dreams %}
			<tr>
				<td><a href='../dream/{{ dream.dreamid }}'>{{ dream.name }}</a></td>
				<td>{{ dream.description }}</td>
				<td class={{ dream.position }}></td>
				<td><a href='../team/{{ dream.dreamid}}'>View Team</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

</div>
</div>

{% endblock %}