{% extends "base.html" %}
{% block head_title %} Project | {{ block.super }}{% endblock %}
{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}
	<script type="text/javascript">
		function allowDrop(ev) {
		    ev.preventDefault();
		}

		function drag(ev) {
		    ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
		    ev.preventDefault();
		    var data = ev.dataTransfer.getData("text");
		    ev.target.appendChild(document.getElementById(data));
		}
	 function changeActiveSideBar(){
		var children=document.getElementById("sidebarList").children;
		for(var i=0; i<children.length;i++){
			if(children[i].className=="active")
				children[i].className=children[i].className.replace( /(?:^|\s)active(?!\S)/g , '' );
			if(children[i].id=='mydreams')
				children[i].className="active";
		}
	}

    function deleteTaskFunc(id) {
     var taskid = id;
     var headerchild =document.getElementById('deletetaskid');
     $(".modal-body #deletetaskid").val( taskid )
     headerchild.innerHTML=taskid;
	}

	function editTaskFunc(id, dream_id) {
     var taskid = id;
     var headerchild =document.getElementById('edittaskid');
     $(".modal-body #edittaskid").val(taskid)
     headerchild.innerHTML=taskid;

	    $.ajax({
	        type: "POST",
	        url: "/gettask/" + dream_id + "/",
	        dataType:'json',
	        data: {
	        	csrfmiddlewaretoken : "{{csrf_token}}",
	            edittaskid: id,
	        },
	        success: function(data) {
	            if(data != "Error") {
	            	$("textarea[name='taskNameNew']").val(data.taskname);
	            	$("select[name='taskStatusNew'] option[value="+ data.taskstatus +"]").attr("selected",true);
	            	$("select[name='responsibleIdNew'] option[value="+ data.responsibleid + "]").attr("selected",true);
	            }
	        },
	        error: function(xhr, textStatus, errorThrown) {
	        }
	    });
	}

	window.onload=changeActiveSideBar;
	</script>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br>

	{% if messages %}
		{% for message in messages %}
    		<div class="alert alert-danger alert-dismissible" role="alert">
    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			{{ message }}
    		</div>
    	{% endfor %}
	{% endif %}
	<h1>Manage {{dream.name}} <button class="btn btn-primary btn-lg" id="addTaskBtn" data-toggle="modal" data-target="#addTask">
	  Add Task
	</button></h1>
	{% if not tasks %}
		This dream has no tasks to be displayed.
	{% elif tasks %}
	<hr class="featurette-divider">
	
	  <!-- LIST Current Tasks of the Dream -->
	  <div class="row">
	    <div class="col-md-4" id="currentCol">
	      <h2>Current</h2>
	      {% for task in tasks %}
	      {% if task.taskstatus == 'current' %}
	      <a href"#"><div class="col-xs-4" draggable="true" ondragstart="drag(event)">
	      	<div class="taskName">{{task.taskname}}</div> 
	      	{% for member in team %}
	      	{% if task.responsibleid == member.personid %}
	      	<img src="{{ MEDIA_URL }}{{member.avatar}}" class='img-responsive img-rounded' style="height:50px;"/>{% endif %} 
	      	{% endfor %}
	     <!-- 	<a><img src="{% static 'img/edit.png' %}"/></a>-->
	      	<ul class="taskOption">
	      		<li><a data-toggle="modal" data-target="#editTask" class="editTaskbtn" onclick="editTaskFunc({{task.id}},{{dream.id}})">Edit</a></li>
	      		<li><a href="#">Done</a></li>
	      		<li><a data-toggle="modal" data-target="#deleteTask" class="deleteTaskbtn" onclick="deleteTaskFunc({{task.id}})">Delete</a></li>
	      	</ul>
	      </div></a>
	      {% endif %}
		{% endfor %}
	    </div>

	    <!-- LIST To Do Tasks of the Dream -->
	     <div class="col-md-4" id="todoCol">
	      <h2>To Do</h2>
	      {% for task in tasks %}
	      {% if task.taskstatus == 'todo' %}
	      <a href"#"><div class="col-xs-4"><div class="taskName">{{task.taskname}}</div>
	      {% for member in team %}
	      {% if task.responsibleid == member.personid %}
	      <img src="{{ MEDIA_URL }}{{member.avatar}}" class='img-responsive img-rounded' style="height:50px;"/>{% endif %} 
	      {% endfor %}
	     <!-- 	<a><img src="{% static 'img/edit.png' %}"/></a>-->
	      	<ul class="taskOption">
	      		<li><a data-toggle="modal" data-target="#editTask" class="editTaskbtn" onclick="editTaskFunc({{task.id}},{{dream.id}})">Edit</a></li>
	      		<li><a href="#">Start</a></li>
	      		<li><a data-toggle="modal" data-target="#deleteTask" class="deleteTaskbtn" onclick="deleteTaskFunc({{task.id}})">Delete</a></li>
	      	</ul>
	      </div></a>
	      {% endif %}
		{% endfor %}
	    </div>

	   	<!-- LIST Done Tasks of the Dream -->
	     <div class="col-md-4" id="doneCol">
	      <h2>Done</h2>
	      {% for task in tasks %}
	      {% if task.taskstatus == 'done' %}
	      <a href"#"><div class="col-xs-4"><div class="taskName">{{task.taskname}}</div>	      
	      {% for member in team %}
	      {% if task.responsibleid == member.personid %}
	      <img src="{{ MEDIA_URL }}{{member.avatar}}" class='img-responsive img-rounded' style="height:50px;"/>{% endif %} 
	      {% endfor %}
	     <!-- 	<a><img src="{% static 'img/edit.png' %}"/></a>-->
	      	<ul class="taskOption">
	      		<li><a data-toggle="modal" data-target="#editTask" class="editTaskbtn" onclick="editTaskFunc({{task.id}},{{dream.id}})">Edit</a></li>
	      		<li><a data-toggle="modal" data-target="#deleteTask" class="deleteTaskbtn" onclick="deleteTaskFunc({{task.id}})">Delete</a></li>
	      	</ul>
	      </div></a>
	      {% endif %}
		{% endfor %}
	    </div>
	  </div>



	<div id="editTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Edit Task</h4>
				</div>
 				<form action="{% url 'edittask' dream.id %}" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<div class="input-group">
						<br>
						Task
						<br> 
						<textarea name="taskNameNew" rows="8" cols="70" ></textarea>
					</div>
					<br>

					<div class="input-group">
						<br>
						State of the Task
						<br>
						<select name="taskStatusNew" value="current">
							<option value=""> -</option>
							<option value="todo">To Do</option>
							<option value="current">Current</option>
							<option value="done">Done</option>
						</select>
					</div> 
					
					<div class="input-group">
						<br>
						Responsible for the Task
						<br>
						<select name="responsibleIdNew" value="0">
							
							<option value="0">--</option>
							{% for member in team %}
							<option value="{{member.personid }}">{{ member.username }}</option>
							{% endfor %}

						</select>
					</div> 
					

					<br>
					<input type="hidden" name="edittaskid" id="edittaskid" value=""/>
 
					<div id="error_messages">
					</div>
					<div id="success_messages">
					</div>
					<br>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal">Edit</button> 
				</div>
				</form>
			</div>
		</div>
		
	</div>

	<div id="deleteTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Delete Task</h4>
				</div>
 				<form action="{% url 'deletetask' dream.id %}" method="post">
				{% csrf_token %}
				<div class="modal-body">
					
					<div class="input-group">
						<br>
						Are you sure that you want to delete this Task?
						<br>
						<input type="hidden" name="deletetaskid" id="deletetaskid" value=""/>
					<div id="error_messages">
					</div> 
					<div id="success_messages">
					</div>
					<br> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal">Delete</button> 
				</div>
				</form>
			</div>
		</div>
		
	</div>
	</div>
	
	{% endif %}

		<div id="addTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Task</h4>
				</div>
 
				<div class="modal-body">
				<form action="{% url 'addtask' dream.id %}" method="post">
				{% csrf_token %}
					<div class="input-group">
						<br>
						Task
						<br> 
						<textarea name="taskName" rows="8" cols="70" placeholder="Insert description of the task."></textarea>
					</div>
					<br>

					<div class="input-group">
						<br>
						State of the Task  
						<br>
						<select name="taskStatus">
							<option value=""> -</option>
							<option value="todo">To Do</option>
							<option value="current">Current</option>
							<option value="done">Done</option>
						</select>
					</div><div class="input-group">
						<br>
						Responsible for the Task
						<br>
						<select name="responsibleId" value="0">
							
							<option value="0">--</option>
							{% for member in team %}
							<option value="{{member.personid }}">{{ member.username }}</option>
							{% endfor %}
							
						</select>
					</div> 

					<br>

					<div id="error_messages">
					</div>
					<div id="success_messages">
					</div>
					<br>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default" data-dismiss="modal">Exit</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal">Add</button> 
				</div>
				</form>
			</div>
		</div>
		
	</div>
	</div>

{% endblock %}