{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-2'>
<h1>{{ request.user.get_username }}'s Dreams</h1>
<table class="table">
	<thead>
		<tr>
			<th>Dream</th>
			<th>Description</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		{% for dream in dreams %}
			<tr>
				<td><a href='/dream/{{ dream.dreamid }}'>{{ dream.name }}</a></td>
				<td>{{ dream.description }}</td>
				<td>{{ dream.position }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>

</div>


{% endblock %}