{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#37c8aa;
	color: #FFF;
}

{% endblock %}
</style>



     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Time 4 Cultural Inovation</h1>
		<p>The “Time 4 Cultural Innovation” is a product of social intervention that aims to help create and accomplish projects (dreams) with the help of a mentor.</p>
		<p>
		<a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Join Us &raquo;</a>
		</p>
		</div>
		<div class='col-sm-6' >
			<iframe width="560" height="315" src="https://www.youtube.com/embed/aB8ifVJ34JU" frameborder="0" allowfullscreen></iframe>

 		</div>
		</div>
	</div>
 </div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<br><br>

   <h1>Manage your dreams <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTask">
      Add Task
   </button></h1>
  
   <hr class="featurette-divider">

    <div id="addTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
	
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Task</h4>
				</div>

				<div class="modal-body">
					<div class="input-group">
						<br>
						Task
						<br> 
						<textarea name="task" rows="8" cols="70" >Insert description of the task</textarea>
					</div>
					<br>

					<div class="input-group">
						<br>
						State of the Task  
						<br>
						<select name="nomePais" value={$user.nomePais}>
							<option value=""> -</option>
							<option value="toDo">To Do</option>
							<option value="current">Current</option>
							<option value="done">Done</option>
						</select>
					</div>

					<br>

					<div id="error_messages">
					</div>
					<div id="success_messages">
					</div>
					<br>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal">Update</button>
				</div>

			</div>
		</div>
		
	</div>
	


      <div class="row">
        <div class="col-md-4" style="background-color:#ff704d">
          <h2>Current</h2>
          <div class="col-xs-4">Create Adds
			<form action="">
			<input type="checkbox" name="done" value="Bike">Done<br>
			</form>
          </div>
          <div class="col-xs-4">Buy products</div>
          <div class="col-xs-4">Cook Stuff</div>
        </div>

         <div class="col-md-4" style="background-color:#4d94ff">
          <h2>To Do</h2>
          <div class="col-xs-4">Raise Funds</div>
          <div class="col-xs-4">Raise Team</div>
          <div class="col-xs-4">Stuff</div>
        </div>

         <div class="col-md-4" style="background-color:#70db70">
          <h2>Done</h2>
          <div class="col-xs-4">Create Dream</div>
          <div class="col-xs-4">Be Happy</div>
          <div class="col-xs-4">Dream</div>
        </div>

      </div>


	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	{% for instance in queryset %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
		{% if instance.email == "abc@gmail.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>

	{% endif %}

 {% else %}
<div class="row">


<div class='col-sm-3'>
<p class='lead text-align-center'>Create a Dream</p>
			<img src='{% static "img/marketing1.jpg" %}' class='img-responsive' />
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Manage your Dream 
<br/>
<span class='fa-stack fa-lg fa-5x'>
<i class='fa fa-comment-o fa-stack-2x'></i>
<i style='color:yellow;' class="fa fa-bolt fa-stack-1x"></i>

</span>
</p>

</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Make it a Reality<br/><br/>

<span class="fa-stack fa-lg fa-5x">
<i class="fa fa-circle-o-notch fa-stack-2x"></i>
  <!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
  <i class="fa fa-github fa-stack-1x"></i>
</span>
</p>


</div>


</div>

{% endif %}

{% endblock %}