{% extends "base.html" %}
{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}
	<script type="text/javascript">
		 window.onload = function(){
			var children=document.getElementById("sidebarList").children;
			for(var i=0; i<children.length;i++){
				if(children[i].className=="active")
					children[i].className=children[i].className.replace( /(?:^|\s)active(?!\S)/g , '' );
				if(children[i].id=='overview')
					children[i].className="active";
			}
		}
	</script>
{% endblock %}