{% extends "base.html" %}

{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}
	{% load static %}
	{% static "" as baseUrl %} 


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><br><br>
		
		{% if user.userprofile.avatar %}
		<img src="{{ MEDIA_URL }}{{user.userprofile.avatar}}" class='img-responsive img-circle' style="height:100px;float: left;"></img>
		<h1>&nbsp;&nbsp;{{ user.get_username }} Profile</h1>
		{% else %}
		<img src='{% static "img/default_profile.png" %}' class='img-responsive img-circle' style="height:100px;float: left;"/><h1>&nbsp;&nbsp;{{ user.get_username }} Profile</h1>
		{% endif %} 
		<hr class="featurette-divider"><br>

		
		<div style="font-size:18px"><b>Email: </b>{{user.email }}</div>
		<div style="font-size:18px"><b>Locality: </b>{{ user.userprofile.locality }}</div>
		<div style="font-size:18px"><b>Phone Number: </b>{{ user.userprofile.phone_number }}</div>
		<div style="font-size:18px"><b>Address: </b>{{ user.userprofile.address }}</div>
		<div style="font-size:18px"><b>About Me: </b>{{user.userprofile.description }}</div>
		<a href='../{{ user.pk}}/update/'>Edit Profile</a>
		<br><br>
		<div style="font-size:18px"><b>Gifts: </b></div>
		{% if gifts %}
			{% for gift in gifts %}
				
				<img src="idea.png"></img> {{ gift.gift }}
				<a data-toggle="modal" data-target="#removeGift{{gift.id}}"><img src="{% static 'img/delete.png' %}"/></a> 
				<br>

				<div id="removeGift{{gift.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				 aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Remove Gift</h4>
						</div>
		 				<form action="{% url 'removegift' gift.id %}" method="post">
						{% csrf_token %}
						<div class="modal-body">
							
							<div class="input-group">
								<br>
								Are you sure that you want to remove this Gift?
								<br>
								<input type="hidden" name="deletetaskid" id="deletetaskid" value=""/>
							<div id="error_messages">
							</div> 
							<div id="success_messages">
							</div>
							<br> 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
							<button class="btn btn-primary btn-lg" data-toggle="modal">Remove</button> 
						</div>
						</form>
					</div>
				</div>
				</div>
				</div>
			{% endfor %}
		{% else %}
			You have no gifts.
		{% endif %}
		<a data-toggle="modal" data-target="#addGift"><b>Edit Gifts</b></a>
</div>

	<div id="addGift" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Edit Gifts</h4>
			</div>
			
			<form action="{% url 'addgift' %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				<div class="input-group">
					What talents & resources do you bring here: <br>
					<div style="width=60%; float:left">
						<input type="radio" name="gift" value="Music">Music<br>
	  					<input type="radio" name="gift" value="Cooking">Cooking<br>
						<input type="radio" name="gift" value="Communications">Communications<br>
						<input type="radio" name="gift" value="Strategic planning">Strategic planning<br>
	  					<input type="radio" name="gift" value="Web development">Web development<br>
						<input type="radio" name="gift" value="Meeting Facilitations">Meeting Facilitations<br>
						</div>
						<div style="width=50%">
						<input type="radio" name="gift" value="Graphic Design">Graphic Design<br>
	  					<input type="radio" name="gift" value="Group organizing">Group organizing<br>
						<input type="radio" name="gift" value="Mediation">Mediation<br>
						<input type="radio" name="gift" value="Strategic planning">Strategic planning<br>
	  					<input type="radio" name="gift" value="Timebank experience">Timebank experience<br>
	  				</div>
				<div id="success_messages">
				</div>
				<div id="error_messages" >
				</div>
				<br> 	
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
				<button class="btn btn-primary btn-lg" data-toggle="modal">Add Gift</button> 
			</div>
			</form>
			</div>
		</div>
	</div>
	</div>
	

	
{% endblock %}