{% extends "base.html" %}

{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<br><br>
<div class='row'>
<div class='col-sm-6 col-sm-offset-1'>

{% if user.userprofile.avatar %}
<img src="{{ MEDIA_URL }}{{user.userprofile.avatar}}" class='img-responsive' />
{% else %}
<img src='{% static "img/default_profile.png" %}'  />{% endif %} 


<h3>About Me: {{user.userprofile.description }}</h3>
<a href='../{{ user.pk}}'>Show More</a>

	
{% endblock %}