{% extends "base.html" %}
{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}

<script type="text/javascript">
 function changeActiveSideBar(){
	var children=document.getElementById("sidebarList").children;
	for(var i=0; i<children.length;i++){
		if(children[i].className=="active")
			children[i].className=children[i].className.replace( /(?:^|\s)active(?!\S)/g , '' );
		if(children[i].id=='mydreams')
			children[i].className="active";
	}
}
function addRoleImage(){
    
    var leaders = document.getElementsByClassName('TL');
    var members = document.getElementsByClassName('TM');
    console.log(leaders.length);
    for(var i=0;i<leaders.length;i++){
    	var x = document.createElement("IMG");
	    x.setAttribute("src", '{% static "img/leader.png" %}');
	    x.setAttribute("alt", "Team Leader");
    	leaders[i].appendChild(x);
    }
    for(var i=0;i<members.length;i++){
    	var y = document.createElement("IMG");
    	y.setAttribute("src", '{% static "img/member.png" %}');
    	y.setAttribute("alt", "Team Member");
    	members[i].appendChild(y);
    }
}
function removeMemberFunc(id) {
     var userid = id;
     console.log("Id Value: " + id);
     var headerchild =document.getElementById('removeTeamMemberId');
     $(".modal-body #removeTeamMemberId").val( userid )
     headerchild.innerHTML=userid;
}
function loadingFunctions(){
	changeActiveSideBar();
	addRoleImage();
}

function changeRole() {
	var status = document.getElementById('status').value;
	var headerchild =document.getElementById('campo');
    $("#campo").val(status)
    headerchild.innerHTML=status;
    var dois = document.getElementById('campo').value;
	$("#target").submit();
}

window.onload = loadingFunctions;
</script>	
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br>
<div class='row'>

<div class='col-sm-6 col-sm-offset-2' id="dreamTable">
<h1>
	Team 
	{% if auth.position == "TL" or auth.position == "TC" %}
	<button class="btn btn-primary btn-lg" id="addTaskBtn" data-toggle="modal" data-target="#addTask">
	  Add Member
	</button>
	{% endif %}
</h1>
<hr class="featurette-divider">

<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>Role</th>
			{% if auth.position == "TL" %}
			<th>Change Role Status</th>
			<th>Delete Member</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for member in team %}
			<tr>
				<td >{{ member.username }}</td>
				<td class={{ member.position }}></td>
				<td>
				{% if auth.position == "TL" %}
				{% if member.position != "TL" %} 
				<form name ="target" id="target" action="{% url 'changeRole' member.id member.dreamid %}" method="post">
					{% csrf_token %}
				 <select id="status" name="status" onchange="changeRole()">                  
					<option selected disabled >--Change Role--</option>
					{% if member.position != "TL" %}
					<option value="TL">Team Leader</option>
					{% endif %}
					{% if member.position != "TM" %}
					<option value="TM">Team Member</option>
					{% endif %}
					{% if member.position != "TC" %}
					<option value="TC">Team Communicator</option>
					{% endif %}
					</select>
					</td>
				<input type="hidden" name="campo" id="campo" value=""/>
				</form>
					{% endif %}
					{% endif %}
				<td>
					{% if auth.position == "TL" %}
					{% if member.position != "TL" %} 
					{% if member.personid != request.user.id %}
						<a class="selectableimg" data-toggle="modal" data-target="#removeTeamMember" onclick="removeMemberFunc({{member.id}})"><img src="{% static 'img/remove.png' %}"/></a>
					{% endif %}
				</td>
					{% endif %}
					{% endif %}
			</tr>
			<div id="removeTeamMember" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Delete Task</h4>
			</div>
			<form action="{% url 'deleteteammember' member.dreamid %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				
				<div class="input-group">
					<br>
					Are you sure that you want to delete this Member from the Dream?
					<input type="hidden" name="removeTeamMemberId" id="removeTeamMemberId" value=""/>
				<div id="success_messages">
				</div>
				<br> 
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
				<button class="btn btn-primary btn-lg" data-toggle="modal">Delete</button> 
			</div>
			</form> 
			</div>
		</div>
	</div>
</div>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
{% if auth.position == "TL" or auth.position == "TC" %}
<div id="addTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add Team Member</h4>
				</div>
 
				<div class="modal-body">
				<form action="{% url 'addteammember' auth.dreamid %}" method="post">
				{% csrf_token %}
					<div class="input-group">
						<h5>New Member Email <input type="email" name="memberEmail"></h5>
					</div>
					<br>

					<div class="input-group">
						<br>
						Member role 
						<select name="memberRole">
							<option value=""> -</option>
							<option value="TL">Team Leader</option>
							<option value="TM">Team Member</option>
							<option value="TC">Communicator Expert</option>
						</select>
					</div>

					<br>

					<div id="error_messages">
					</div>
					<div id="success_messages">
					</div>
					<br>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default" data-dismiss="modal">Exit</button>
					<button class="btn btn-primary btn-lg" data-toggle="modal">Add</button> 
				</div>
				</form>
			</div>
		</div>
</div>
{% endif %}

</div>

{% endblock %}