{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-fixed-top{
	padding-bottom: 0px;
}

.jumbotron {
	background-color:#37c8aa;
	color: #FFF;
	margin-top: 50px;
}

{% endblock %}
</style>

 
{% block jumbotron %}
	<div class="jumbotron">
	<div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Time 4 Cultural Inovation</h1>
		<p>The “Time 4 Cultural Innovation” is a product of social intervention that aims to help create and accomplish projects (dreams) with the help of a mentor.</p>
		<p>
		{% if not request.user.is_authenticated %}
		<a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Join Us &raquo;</a>
		{% else %}
		<a class="btn btn-lg btn-primary" href="{% url 'mydreams' %}" role="button">Go To My Dreams &raquo;</a>
		{% endif %}
		</p>
		</div>
		<div class='col-sm-6' >
			<iframe width="560" height="315" src="https://www.youtube.com/embed/aB8ifVJ34JU" frameborder="0" allowfullscreen></iframe>

			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block content %}
	<div class="row" style="text-align:center;width: 100%;">


	<div class='col-sm-4 welcomeIcon'>
	<p class='lead text-align-center' >Create a Dream</p>
				<img src='{% static "img/idea.png" %}' class='img-responsive' />
	</div>

	<div class='col-sm-4 welcomeIcon'>
	<p class='lead text-align-center'>Manage your Dream 
				<img src='{% static "img/conversation.png" %}' class='img-responsive' />
	</div>

	<div class='col-sm-4 welcomeIcon' >
	<p class='lead text-align-center' >Make it a Reality<br/><br/>
			<img src='{% static "img/work.png" %}' class='img-responsive' />
	</div>

	</div>
	</div>
{% endblock %}