{% extends "base.html" %}

{% block content %}
	{% include 'sidebar.html' %}
	{% load staticfiles %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br>
	<div class='row'>
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">{{object.user.get_username }}'s Profile</h3>
		  	</div>
		  <div class="panel-body">
		  	<table class="table">
                    <tbody>
                      <tr>
                      	<td>Email</td>
                      	<td>{{object.user.email }}</td>
                      </tr>
                      <tr>
                      	<td>Locality</td>
                      	<td>{{ object.locality }}</td>
                      </tr>
                      <tr>
                      	<td>Phone Number</td>
                      	<td>{{ object.phone_number }}</td>
                      </tr>
                      <tr>
                      	<td>Address</td>
                      	<td>{{ object.address }}</td>
                      </tr>
                  </tbody>
              </table>
				<center><a href='../{{ user.pk}}/update/'>Edit</a></center>
		  </div>
		</div>
{% endblock %}